<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IT Lighthouse{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <div class="logo">
                                <a href="{{ path('app_home') }}" >
                                    <img src="{{ asset('images/logo.jpg') }}" alt="">
                                </a>
                            </div>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                <li><a {{ path('app_home') }}>Meetings</a></li>
                                <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                                <li class="has-sub">
                                    <a {{ path('app_home') }}>Pages</a>
                                    <ul class="sub-menu">
                                        <li><a {{ path('app_home') }}">Upcoming Meetings</a></li>
                                        <li><a {{ path('app_home') }}">Meeting Details</a></li>
                                    </ul>
                                </li>
                                <li class="scroll-to-section"><a {{ path('app_home') }}>Courses</a></li>
                                <li class="scroll-to-section"><a {{ path('app_home') }}>Contact Us</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
